@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&family=Raleway:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --main1: rgb(0, 134, 252);
  --black1: rgb(27, 26, 26);
}

body{
  background: rgb(224, 218, 218) ;
  font-family: "Poppins",sans-serif;
}